.character-card {
  border-radius: $bdrs-m;
  border: $brd-s solid grey;
  display: flex;
  justify-content: space-between;
  padding: $p-m;
  text-decoration: none;

  &-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: $g-m;
    text-align: center;
  }

  &-info {
    text-align: left;
  }
}
