.character-detail {
  display: flex;
  padding: $p-m;
  position: sticky;
  top: 0;
  align-self: flex-start;

  &-content {
    align-items: flex-start;
    display: flex;
    gap: $g-m;
    justify-content: space-between;
  }
}
